
<div class='signup'>
    <div class="nav">
        <div class='logo'>  <a class='li'> EventRiteApp </a></div>
            <%= link_to 'Home', root_path, class: 'li check' %>
            <%= link_to 'Sign Up', new_user_url, class: 'li check' %>
            <%= link_to 'Events', events_url, class: 'li check' %> 
                
    
    </div>
    
    <div class='form-group'>
        <%= form_for (:session) do |f| %>
    
        <%= f.label :name, 'Enter your email' %>
        <%= f.text_field :name , class: 'form-control' %>  
      
        <%= f.submit   'Sign in', class: 'btn btn-primary' %>
        <% end %>
    </div>
    
</div>
