<% if !@current_user.nil? %>
<%= render 'layouts/headings' %>
<% else %>
<%=  render 'layouts/header2'%>
<% end %>
<div class="greet">
    <h2> Hello <%= @user.name %></h2>
</div>

<div class="index">
<div class="upcoming">
<% if !@events.empty? %>
<h2>Events Created</h2>
<ul>
<% @events.each do |event| %>
<li> <%= link_to event.title , event %></li>
 
<% end %>
</ul>
   <br>
<% else %>
<h3>No Created Events</h3>

<% end %>  
</div>

 

<div>
<% if @invitations.empty? %>
<h3>No invitations</h3>
<% end %>

<% if !@invites.empty? %>

<% if !@upcoming_events.empty? %>
<ul>
<h2>Events Invited To:</h2>


<% @upcoming_events.each do |event| %> 
  <li><%= link_to event.title , event %> </li>
<% end %>
</ul>

<% end %>


<% if !@previous_events.empty? %>
<ul>
  <h2>You attended the following events:</h2>
  
  
  <% @previous_events.each do |event| %> 
    <li><%= link_to event.title , event %> </li>
  <% end %>
</ul>

<% end %>

<% end %>
</div>
</div>

